// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Colores EncuentraMascotas

$rosa-em: #F7C6C7; // Defining a variable
$azul-em: #0079C2;

$rosa-em2: #FAD9D9; // Defining a variable
$azul-em2: #51A4D6;

$rosa-em3: #FCE6E7; // Defining a variable
$azul-em3: #97CAE8;

$rosa-em4: #FEF3F3; // Defining a variable
$azul-em4: #DCEEF9;

$rosa-em-sec: #FFF9F9;
$azul-em-sec: #F4FBFF;
