<!-- Pantalla de carga -->
<div class="d-flex justify-content-center align-items-center vh-100 position-fixed top-0 start-0 w-100 h-100 bg-white" style="z-index: 9999;">
  <iframe src='https://my.spline.design/untitled-b8fb0129741580dc2a1ed82e15396658/' frameborder='0' width='100%' height='100%'></iframe>
</div>

<script>
  // Redirige a la vista 'nearby' después de 7 segundos
  setTimeout(function() {
    window.location.href = "<%= nearby_petlosts_path %>";
  }, 10000);
</script>
