<%= stylesheet_link_tag 'pet/form', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="body-form">
  <div class="signup-container">
    <div class="left-container">
      imagen y texto
    </div>

    <div class='right-container'>
      <h1>Mascota perdida</h1>

      <h5>Por favor, completa los datos de tu mascota perdida</h5>
      <%= render "form", petlost: @petlost %>
    </div>
  </div>
</div>
