<!-- Footer -->
<footer class="footer">
  <p>&copy; 2024 EncuentraMascotas - Todos los derechos reservados</p>
  <%= link_to 'Términos y Condiciones', terms_path %> <!-- Comentado hasta que terms_path esté definido -->
  <%= link_to 'Política de Privacidad', privacy_path %> <!-- Comentado hasta que privacy_path esté definido -->
</footer>
