<div class="container mt-5">
  <h1 class="text-center">Descubre la App Encuentra Mascotas</h1>
  <p class="text-center">
    Nuestra aplicación está diseñada para conectar a las personas con sus mascotas perdidas mediante geolocalización en tiempo real, reportes inmediatos y una comunidad activa de amantes de los animales.
  </p>

  <div class="row align-items-center mt-5">
    <div class="col-md-6">
      <img src="<%= asset_path('http://enrsto.freehostia.com/enriquestolar.com/img/app-encuentra-mascotas.png') %>" class="img-fluid app-image" alt="Encuentra Mascotas App en acción" style="max-height: 600px;">

    </div>
    <div class="col-md-6">
      <h2>Encuentra Mascotas: Conectando Mascotas con sus Dueños</h2>
      <p>
        Con nuestra tecnología avanzada y geolocalización en tiempo real, Encuentra Mascotas ofrece una solución rápida y efectiva para la búsqueda y reporte de mascotas perdidas.
      </p>
      <ul>
        <li>Geolocalización en tiempo real para ubicar mascotas.</li>
        <li>Reportes inmediatos de mascotas perdidas o encontradas.</li>
        <li>Búsqueda avanzada filtrada por raza, color y más.</li>
        <li>Interacción directa entre dueños y la comunidad.</li>
        <li>Sección especial de adopciones.</li>
      </ul>
      <p>
        Nuestra app es intuitiva, accesible y completamente gratuita, permitiendo a cualquier persona colaborar para encontrar mascotas perdidas y fomentar la adopción de animales.
      </p>
      <%= link_to 'Instala la App', '#', class: 'btn btn-primary btn-large custom-btn-found' %>
    </div>
  </div>

  <div class="row text-center mt-5">
    <div class="col-md-12">
      <h3>Beneficios Clave de Encuentra Mascotas</h3>
      <p>
        Usar Encuentra Mascotas te permite ahorrar tiempo en la búsqueda de tu mascota con la ayuda de geolocalización en tiempo real y notificaciones inmediatas. La plataforma facilita la interacción entre la comunidad, mejorando las posibilidades de encontrar a tu mascota rápidamente. Además, ofrece un entorno seguro para proteger tus datos, mientras fomenta una red solidaria y activa para la adopción y el rescate de mascotas.
      </p>
    </div>
  </div>
</div>
