<div class="container">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
<!-- Botón Mascotas Perdidas -->
  <%= link_to 'Mascotas Perdidas', new_petlost_path, class: 'btn btn-primary' %>

  <!-- Botón Mascotas Encontradas -->
  <%= link_to 'Mascotas Encontradas', new_petfound_path, class: 'btn btn-success' %>
</div>
