<h1 class="text-center mt-5">Política de Privacidad</h1>
<div class="container privacy-container mt-4">
  <p>
    En EncuentraMascotas, valoramos tu privacidad. Esta política de privacidad describe cómo recopilamos, usamos y protegemos tu información personal cuando accedes a nuestro sitio web.
  </p>

  <h3>1. Información que recopilamos</h3>
  <p>
    Podemos recopilar la siguiente información personal cuando utilizas nuestros servicios:
    <ul>
      <li>Nombre y detalles de contacto.</li>
      <li>Dirección de correo electrónico.</li>
      <li>Ubicación geográfica para el uso de la función de geolocalización.</li>
      <li>Información de la mascota que reportes como perdida o encontrada.</li>
    </ul>
  </p>

  <h3>2. Uso de la información</h3>
  <p>
    Utilizamos la información recopilada para los siguientes fines:
    <ul>
      <li>Conectar a dueños con sus mascotas perdidas.</li>
      <li>Enviar notificaciones en tiempo real sobre avistamientos de mascotas.</li>
      <li>Mejorar nuestros servicios y la experiencia del usuario.</li>
    </ul>
  </p>

  <h3>3. Protección de tus datos</h3>
  <p>
    Implementamos medidas de seguridad avanzadas para proteger tu información personal de accesos no autorizados, pérdida o alteración. Sin embargo, ninguna medida de seguridad es 100% segura, por lo que no podemos garantizar la protección absoluta.
  </p>

  <h3>4. Cookies</h3>
  <p>
    Nuestro sitio web utiliza cookies para mejorar la experiencia del usuario. Puedes optar por desactivar las cookies a través de la configuración de tu navegador, pero esto puede afectar algunas funcionalidades del sitio.
  </p>

  <h3>5. Cambios en la política de privacidad</h3>
  <p>
    Nos reservamos el derecho de actualizar esta política de privacidad en cualquier momento. Te notificaremos si se realizan cambios importantes.
  </p>

  <p class="mt-5">
    <%# Si tienes alguna pregunta sobre nuestra política de privacidad, por favor <%= link_to 'contáctanos', contact_path %>
  </p>
</div>
