<div class = "container">
  <div class = 'row justify-content-center'>
    <div class = 'col-6'>
      <h1>Mascota encontrada</h1>
      <h5>Por favor, completa los datos de tu mascota encontrada</h5>
      <%= render "form", petfound: @petfound %>
    </div>
  </div>
</div>
