/* Botones */
.btn-primary {
  background-color: $rosa-em;
  border: none;
  margin-top: auto; /* Empuja el botón hacia el final de la tarjeta */
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: $azul-em;
  outline: none; /* Elimina el borde de enfoque por defecto */
  box-shadow: none; /* Elimina sombras si las tiene */
}

.btn-success {
  background-color: $azul-em;
  border: none;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
  background-color: $rosa-em;
  outline: none; /* Elimina el borde de enfoque por defecto */
  box-shadow: none; /* Elimina sombras si las tiene */
}


/* Estilos personalizados para los botones */
.custom-btn-lost, .custom-btn-found {
  width: 300px;
  height: 50px;
  border-radius: 25px; /* Bordes redondeados */
  font-size: 1.25rem;  /* Ajustar el tamaño de la fuente */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.custom-btn-lost {
  background-color: $rosa-em; /* Color para el botón "Mascotas Perdidas" */
  color: black;
}

.custom-btn-found {
  background-color: $azul-em; /* Color para el botón "Mascotas Encontradas" */
}

.custom-btn-lost:hover {
  background-color: $azul-em; /* Cambiar color al pasar el mouse */
}

.custom-btn-found:hover {
  background-color: $rosa-em; /* Cambiar color al pasar el mouse */
  color: black;
}

/* Evitar cambio de color al hacer clic (focus y active) */
.custom-btn-lost:focus, .custom-btn-lost:active {
  background-color: $rosa-em; /* Mantener el color rosado cuando el botón está activo o enfocado */
  color: black;
  outline: none;
  box-shadow: none;
}

.custom-btn-found:focus, .custom-btn-found:active {
  background-color: $azul-em; /* Mantener el color azul cuando el botón está activo o enfocado */
  color: white;
  outline: none;
  box-shadow: none;
}
