/* Estilo para los cards */
.card {
  border-radius: 10px;
  height: 100%; /* Asegura que la tarjeta tenga la altura completa */
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; /* Agrega espacio entre filas */
}

.card-body {
  flex-grow: 1; /* Permite que el cuerpo de la tarjeta crezca para ocupar el espacio disponible */
  text-align: center; /* Centra el texto dentro de la tarjeta */
  padding: 20px; /* Añade más espacio dentro del cuerpo de la tarjeta */
}


.pet-image {
  height: 200px; /* Fija la altura de la imagen */
  width: 100%;   /* Asegura que la imagen ocupe todo el ancho disponible */
  object-fit: cover; /* Ajusta la imagen dentro del contenedor sin deformarse */
  display: block; /* Asegura que la imagen sea un bloque */
  border-top-left-radius: 5px; /* Redondea solo la esquina superior izquierda */
  border-top-right-radius: 5px; /* Redondea solo la esquina superior derecha */
}


.card-title {
  color: $azul-em; /* Establece el color del título según tu variable $azul-em */
  font-size: 24px; /* Aumenta el tamaño del título */
  font-weight: 400;
}

.card:hover {
  transform: scale(1.05); /* Levemente más grande cuando el usuario pasa el ratón */
  transition: transform 0.3s ease; /* Transición suave al hacer hover */
}

.custom-share-modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.custom-share-modal ul {
  list-style-type: none;
  padding: 0;
}

.custom-share-modal ul li {
  margin-bottom: 10px;
}

.custom-share-modal ul li a {
  color: #007bff;
  text-decoration: none;
}

.custom-share-modal ul li a:hover {
  text-decoration: underline;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.share-button {
  background-color: $rosa-em;
  //display: flex; /* Aseguramos que tenga el mismo comportamiento de caja */
  align-items: center;
  justify-content: center;
  color: $azul-em;
  height: 36px; /* Igualamos la altura con los otros botones */
  // border-radius: 5px; /* Puedes ajustar el borde redondeado si lo necesitas */
  //padding: 0 15px; /* Añadimos un padding para el contenido interno */
  margin-left: 10px; /* Añadimos un margen izquierdo para separar del botón "Ver más" */
  border: none; /* Eliminamos el borde */
  box-shadow: none; /* Eliminamos la sombra si existe */
}

.share-button:hover {
  background-color: $azul-em;
  color: $rosa-em;
}
