$rosa-em: #F7C6C7; // Defining a variable
$azul-em: #0079C2;
$rosa-em-sec: #FFF9F9;
$azul-em-sec: #F4FBFF;
/* Footer */
.footer {
  background-color: $azul-em; /* Fondo azul */
  color: #fff; /* Texto blanco */
  padding: 40px 0;
  background-image: url('huellas-footer.png'); /* Aquí va la imagen de fondo con las huellas */
  background-repeat: repeat; /* Repetir el fondo */
  background-size: contain; /* Ajustar el tamaño de las huellas */
}

.footer-logo {
  width: 150px; /* Tamaño del logo */
  margin-bottom: 20px;
}

.footer h5 {
  color: $rosa-em; /* Títulos en rosa */
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #fff;
  text-decoration: none;
}

.footer ul li a:hover {
  color: $rosa-em; /* Cambia a rosa cuando se pasa el mouse */
}

.footer a {
  color: white; /* El enlace será blanco */
  text-decoration: none; /* Elimina el subrayado */
}

.footer a:hover {
  color: $rosa-em; /* Cambia a un color rosa claro cuando pases el mouse por encima */
}

.social-icons {
  display: flex;
  flex-direction: column;
}

.social-icons li {
  margin-bottom: 10px;
}

.social-icons i {
  margin-right: 8px;
}

.text-center p {
  margin: 0;
  font-size: 14px;
}

/* Línea de separación en el footer */
.footer .separator {
  border-top: 1px solid $azul-em-sec; /* Color rosa clarito */
  margin: 20px 0; /* Espacio arriba y abajo de la línea */
}
