$rosa-em: #F7C6C7; // Defining a variable
$azul-em: #0079C2;
$spacer: 8px;


/* Carrusel styles */
#carouselExampleCaptions{
  margin-bottom: 50px;
}
.carousel-inner img {
  object-fit: cover;
  height: 100%;
}

/* Category Button Styles */
.category-icon {
  width: 50px;
  height: 50px;
}
.filter-button {
  margin-right: 10px;
  transition: background-color 0.3s ease;
}
.filter-button:hover {
  background-color: $rosa-em;
  color: white;
}


/* Estilos para la sección de información de la App */
.app-info-section {
  background-color: #f8f9fa;
  padding: 50px 0;

  .section-title {
    color: #0079C2;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .section-text {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .btn-large {
    width: 300px;
    height: 50px;
    font-size: 1.1rem;
    border-radius: 25px;
    background-color: $azul-em;
    border: none;
  }

  .btn-large:hover {
    background-color: $rosa-em;
  }
}
