@import "colors";
$spacer: 8px;


/* Carrusel styles */
#carouselExampleCaptions{
  margin-bottom: 50px;
}
.carousel-inner img {
  object-fit: cover;
  height: 100%;
}

/* Category Button Styles */
.category-icon {
  width: 50px;
  height: 50px;
}
.filter-button {
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.filter-button:hover {
  background-color: $rosa-em;
  color: white;
}

.fondo-rosa-section{
  background-color: $rosa-em4;
  background-image: url('https://res.cloudinary.com/dhfv2yrux/image/upload/v1726517110/huellas-footer_f2ibj5.png'); /* Aquí va la imagen de fondo con las huellas */
}

.fondo-azul-section{
  background-color: $azul-em4;
  background-image: url('https://res.cloudinary.com/dhfv2yrux/image/upload/v1726517110/huellas-footer_f2ibj5.png'); /* Aquí va la imagen de fondo con las huellas */
}

.fondo-rosa-section,
.fondo-azul-section {
  margin-top: 0;  /* Reduce el espacio superior */
  margin-bottom: 0;  /* Reduce el espacio inferior */
}

.fondo-rosa-section,
.fondo-azul-section {
  padding-top: 15px;  /* Ajusta el relleno superior */
  padding-bottom: 15px;  /* Ajusta el relleno inferior */
}


.section-title {
  color: $azul-em;
  font-size: 2rem;
  // margin-top: 30px;
  // margin-bottom: 30px;
  margin-top: 0px;  /* Ajusta según sea necesario */
  margin-bottom: 40px;  /* Ajusta según sea necesario */
}


.app-image {
  object-fit: cover; /* Ajusta la imagen dentro del contenedor sin deformarse */
  display: block; /* Asegura que la imagen sea un bloque */
  border-radius: 5px;
}
