$rosa-em: #F7C6C7; // Defining a variable
$azul-em: #0079C2;
$spacer: 8px;


/* Carrusel styles */
.carousel-inner img {
  object-fit: cover;
  height: 100%;
}

/* Category Button Styles */
.category-icon {
  width: 50px;
  height: 50px;
}
.filter-button {
  margin-right: 10px;
  transition: background-color 0.3s ease;
}
.filter-button:hover {
  background-color: $rosa-em;
  color: white;
}

/* Card Styles */


.btn-primary {
  background-color: $rosa-em;
  border: none;
  margin-top: auto; /* Empuja el botón hacia el final de la tarjeta */
}

.btn-primary:hover {
  background-color: $azul-em;
}

.btn-success {
  background-color: $azul-em;
  border: none;
}
.btn-success:hover {
  background-color: $rosa-em;
}
