// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

/* app/assets/stylesheets/application.scss */
body {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 900; /* Este es el peso de la versión Black */
}


h1 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 900; /* Muy grueso */
}

h2 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700; /* Menos grueso */
}

h3 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 500; /* Aún menos grueso */
}

/* Contenedor principal de la tarjeta */
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px; /* Necesario para el efecto 3D */
}

/* Contenedor interno que manejará la rotación */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /* Iniciar sin rotación */
  transform: rotateY(0deg);
}

/* Voltear la tarjeta al añadir la clase 'flipped' */
.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

/* Las caras de la tarjeta */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: none;
  border-radius: 0.25rem;
}

/* Cara trasera */
.flip-card-back {
  transform: rotateY(180deg);
}
